[x-cloak] { display: none !important; }

.chat-bubble:has(img) {
  padding: 0px;
  font-size: 0px;
  background-color: transparent !important;
}

.chat-bubble img {
  top: 10px;
}

.chat-bubble:has(audio) {
  padding : 0px;
  border-radius: 10px;
}

.chat-bubble.sent {
  background-color: var(--sentBackground);
  color: var(--sentText);
  align-self: flex-end;
}

.chat-bubble.received {
  background-color: var(--receivedBackground);
  color: var(--receivedText);
  align-self: flex-start;
}