.chat-bubble:has(img) {
  padding: 0px;
  font-size: 0px;
  background-color: transparent !important;
}

.chat-bubble img {
  top: 10px;
}

.chat-bubble.wav {
  height: 40px;
  padding : 0px;
  border-radius: 0px;
  max-width: 100%;
}

.chat-bubble.sent {
  background-color: var(--sentBackground);
  color: var(--sentText);
  align-self: flex-end;
  text-align: right;
}

.chat-bubble.received {
  background-color: var(--receivedBackground);
  color: var(--receivedText);
  align-self: flex-start;
  text-align: left;
}